/* https://coolors.co/0fa3b1-d9e5d6-eddea4-f7a072-ff9b42 */

body {background-color: #EDDEA4;}

header {
    text-align:center;
    font-size: 30px;
    font-family: "Courier New", "Lucida Console", monospace;
}

.navigation {
    margin-top: 30px;
    text-align:center;
}

.roundB {
    background-color: #0FA3B1;
    border-radius: 8px;
    border: none;
    color: #ecf3ea;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
  }

  .roundB:hover {
    background-color: #27a2ad;
  }

  .roundB:active {
    background-color: #27a2ad;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }